
// Brand Colors
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

//grey colors
$color-grey-light-1: #f8f6f6;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


//font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;