
@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-12rem);
    }

    80% {
        opacity: .8;
        transform: translate(1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(12rem);
    }

    80% {
        opacity: 1;
        transform: translate(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes moveright {
    0% {
        opacity: 0;
        transform: translate(12rem);
    }

    80% {
        opacity: .8;
        transform: translate(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);

    }
}